.main-container {
  margin-left: 5%;
}

.tasks-list {
  position: relative;
  top: 27px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  box-shadow: 0 1px 3px;
  border-radius: 7px;
  margin-bottom: 15px;

  &:hover {
    background-color: #5b5c5d;

    h5, .fa-solid {
      color: white;
    }

  }

  h5 {
    margin-left: 5%;
  }

  a:hover {
    color: white;
  }


  h6 {
    margin-right: 5%;
  }
}
