.main-container {
  position: absolute;
  top: 120px;
}

.index-user {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 3px;
  border-radius: 5px;
  margin-bottom: 15px;

  &:hover {
    background-color: aqua;
  }

  a {
    width: 50%;
    text-decoration: none;
    padding-left: 5%;
  }

  h5 {
    padding-right: 5%;
  }
}
