<div class="container main-container">
  <div class="row">
    <div class="col-6">
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <h3><%= user.name %></h3>
        <% end %>
        <h5><%= user.tasks.count %></h5>
      <% end %>
    </div>
  </div>
</div>
