<h1><%= @user.name %></h1>

<% if current_user.id == @user.id %>
  <%= link_to 'Edit Profile', edit_user_path(current_user, class: 'btn btn-primary') %>
<% end %>

<%= link_to 'Go back', root_path %>
