
.list-group-item {

  h6 {
    font-size: 10px;
    color: white;
    background-color: rgb(232, 74, 95);
    padding: 5px 5px;
    border-radius: 27%;
  }

  .show-icons {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-right: 5%;
  }
}
