@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// ::::::::: Components ::::::::::
@import 'components/index';

// ::::::::: config :::::::::::::::
// @import "index-config";
@import 'config/fonts';
@import 'config/colors';

// ::::::::: pages :::::::::::::::
@import 'pages/users-index';
@import 'pages/user-show';


* {
  font-family: $main-font;
  color: $font-color;

}

a {
  color: rgb(232, 74, 95);
  font-weight: 600;
  font-size: 13px;

  &:hover {
    color: #d2eb7a;
  }
}
